body {
  background: #000;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  gap: 15px;
  height: 52px;
  justify-content: center;
  line-height: normal;
  padding: 16px 24px;
  width: 208px;
}

.button:hover {
  background-color: #000000b2;
  transition: 0.50s all ease;
}

.content {
  position: relative;
  background-color: #000000b2;
  border: 5px solid #00CC6A;
  filter: drop-shadow(0px 0px 30px #10893E);
  max-width: 1200px;
  width: 90%;
  margin: clamp(20px, 5vh, 60px) auto;
  padding: 40px;
  box-sizing: border-box;
}

.content__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: start;
  word-break: break-all;
}

.friends__container {
  align-items: center;
  border: 1px solid #00CC6A;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 21px;
  font-weight: 400;
  justify-content: center;
  line-height: 160%;
  margin-top: 1rem;
  padding: 20px;
  width: 453px;
}

.friends__container>p {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 160%;
}

.friends__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
}

.form__buttons {
  align-items: center;
  display: flex;
  gap: 32px;
}

.form__input {
  align-items: center;
  background-color: transparent;
  border: 1px solid #00CC6A;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 21px;
  font-weight: 400;
  height: 56px;
  margin-bottom: 32px;
  outline: none;
  padding: 8px 16px;
  width: 517px;
}

.form__input::placeholder {
  color: #fff;
  font-size: 21px;
}

.form__label {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 16px;
}

.form__link {
  position: relative;
  color: #f5032b;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  text-decoration: none;
}

.form__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #f5032b;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.form__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: white;
}

.prizeDraw__container {
  color: #fff;
  font-size: 21px;
  font-style: italic;
  font-weight: 700;
  height: 199px;
  line-height: 160%;
  margin-top: 1rem;
  font-family: 'Montserrat';
}

.prizeDraw__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  font-family: 'Montserrat';
}

.primary {
  background-color: #00CC6A;
  color: #fff;
}

.section--results {
  align-items: start;
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  gap: 8em;
}

.section__title {
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(3rem, 8vw, 8rem);
  /* Pra se adaptar ao tamanho da tela */
  font-weight: 700;
  line-height: 1;
  margin: 0 0 40px 0;
}

.section__title>span {
  color: #00CC6A;
}

.secondary {
  background-color: #fff;
  color: #00CC6A;
}

/* Responsividade */
@media (max-width: 768px) {
  .section--results {
    flex-direction: column;
    gap: 1.5rem;
  }

  .form__buttons {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 15px;
    gap: 10px;
  }

  input[type="text"] {
    font-size: 0.9rem;
    padding: 8px;
  }

  .buttons {
    flex-direction: column;
    /* em telas bem pequenas, empilha */
  }

  .buttons button {
    width: 100%;
  }
}